<!-- About Us Section Start Here-->
<div class="banner_about_wrap">
  <div class="left_corner_img">
    <img src="assets/images/left_corner.png" alt="" />
  </div>
  <div class="right_corner_img">
    <img src="assets/images/right_corner.png" alt="" />
  </div>
  <div class="about_us_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <span> About Us</span>
            <h2>History Of Vedic Time Format</h2>
            <p>
              The first ever time-format was mentioned in Ancient Indian
              scripture : Rig Veda. The ancient Indians named it 'Muhurut'. This
              time-format is calculated from one sunrise to another. Between two
              sunrises, there are 30 Hours(Muhurut), 30 Minutes(Kaal) and 30
              seconds(Kastha), which means ancient Indians calculated and kept
              track of a 30 hour time-format. As the technology was mechnical
              till 20th century, the clocks based on this advanced time system
              couldn't be made.
            </p>
            <p>
              As India fought many battles in last 1000 years till 1947 and much
              of our knowledge along with the sciptures was demolished. In last
              600 years, the 24 hr time format became trend as whole world
              accepted it and gave no thought to 'Alternate Time-formats'. Since
              technology has enhanced to Digital, we can now build clocks on Our
              Ancient Indian Time-format which starts from sunrise.
            </p>
          </div>
        </div>
        <!-- <div class="col-md-5">
          <div class="about_right_banner">
            <img src="assets/images/about_us.JPG" alt="" />
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <h2>
              Difference between Current Time format and Vedic Standard Time
            </h2>
            <p>
              Current time-format makes 24 equal devision of the day and is a
              Mechnical Time-format that works the same every day. That's why
              sunrise varies everyday in the Current Time System.
            </p>
            <p>
              Vedic Time format is a Digital Time-format as it starts from
              sunrise (in Vedic time system, date changes from sunrise). At
              00:00 hrs it, is always sunrise. This is the advancement in Vedic
              Time System.
            </p>
            <p>
              As our current time format has divided world in 24 time zones,
              many countries do not get proper daylight, thus daylight savings
              time. In Alternate time-format(Vedic Time System), there can again
              be 30 time zones based on sunrise. Even every country can have
              their specific time-zone in future and the bigger countries which
              have big differences between longitudes at their ends, can use
              multiple Vedic time-zones based on variation of sunrise across the
              country.
            </p>
            <!-- <div class="about_right_banner">
              <img src="assets/images/youtube_img.JPG" alt="" />
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <h2>What is Vedic Time System?</h2>
            <p>
              Rishis (Scholars) of Vedic Time observed and calculated a Time
              System that relates Human to nature as this time format is based
              on Position of Earth in respect to Sun.Our current calendar system
              is based on Sun as we Calculate Our 1 human year when Earth
              Revolves around the sun & our 1 day is calculated from 24:00 Hrs
              at night ,Why doesn’t 1 day is calculated when earth completes its
              rotation on its axis in respect to Sun? The reason is when our
              24Hours time system was developed and implemented calculating the
              sunrise was possible but to represent it on Device for general use
              of Human was not possible at that time due to technology,the
              technology of the Clock was based on Mechanical system due to
              which a assumed point at night was fixed & as over the year it
              became common practice we became its habitual .We beleive if the
              present technology was present at the time of clock development
              the researches would have taken Sun rise into account as Sun plays
              crucial role in Calendar and our Time system.
            </p>
            <p>
              Vedic Time system changes its date from Sunrise (rather than 24:00
              Hrs at night )which is much more accurate way to calculate a day.
            </p>
            <p>
              Vedic time system also opens a new aspect of using LMT(Local Mean
              Time) as City Standard Time which can be used in a particular city
              for its working,currently world is Divided into GMT ( Greenwich
              mean time) and Many Countries with its own Time Zone with which
              many other countries share time zone but there is no such device
              yet that can show City Local Time,Vedic time system is Revolution
              in Time for the Future.
            </p>

            <!-- <div class="about_right_banner">
              <img src="assets/images/youtube_img.JPG" alt="" />
            </div> -->
          </div>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <span>Problem Solving –</span>
            <p>
              A. &nbsp; No more Leap Year (29th Feb) as by calculating day from
              sunrise the leap of few seconds everyday is being taken into
              account.
            </p>
            <p>
              B. &nbsp; No more Day Light Saving Time,many countries uses
              daylight saving time to utilise Sun.Due to flaw in clock sunrise
              couldn’t be monitered everyday due to which many country faces
              issues.
            </p>
            <p>
              C. &nbsp; No more Varying time of Sunrise as 00:00 Hrs will be the
              Time of Sunrise at every place.
            </p>
            <p>
              D. &nbsp;Every Country, every State & every City gets its own
              Time.
            </p>
            <p>
              E. &nbsp; Makes working culture in local city more systematic in
              respect to nature.
            </p>
          </div>
        </div>
        <!-- <div class="col-md-5">
          <div class="about_right_banner">
            <img src="assets/images/about_us.JPG" alt="" />
          </div>
        </div> -->
      </div>
      <div class="row mb-200 mt-30">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <p>
              Address - LG 006, DLF Grand Mall Metro Station, Mehrauli-Gurgaon
              Rd, near Sikanderpur, DLF Phase 1, Sector 28, Gurugram, Haryana
              122001 email- info@Vedicstandardtime.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
