<div class="banner_about_wrap">
  <div class="left_corner_img">
    <img src="assets/images/left_corner.png" alt="left corner" />
  </div>
  <div class="right_corner_img">
    <img src="assets/images/right_corner.png" alt="right corner" />
  </div>
  <div class="about_us_wrap chronology_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap">
            <span>Chronology</span>
            <h2>Vedic Standard Time</h2>
            <p>
              The first ever time-format was mentioned in Ancient Indian
              scripture : Rig Veda. The ancient Indians named it 'Muhurut'. This
              time-format is calculated from one sunrise to another. Between two
              sunrises, there are 30 Hours(Muhurut), 30 Minutes(Kaal) and 30
              seconds(Kastha), which means ancient Indians calculated and kept
              track of a 30 hour time-format. As the technology was mechnical
              till 20th century, the clocks based on this advanced time system
              couldn't be made.
            </p>
            <p>
              As India fought many battles in last 1000 years till 1947 and much
              of our knowledge along with the sciptures was demolished. In last
              600 years, the 24 hr time format became trend as whole world
              accepted it and gave no thought to 'Alternate Time-formats'. Since
              technology has enhanced to Digital, we can now build clocks on Our
              Ancient Indian Time-format which starts from sunrise.
            </p>
            <div class="chrnology_videos">
              <img
                src="assets/images/chronlog_video.jpg"
                alt="chronology video"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap paragraph_second">
            <h2>
              Difference between Current Time format and Vedic Standard Time
            </h2>
            <p>
              Current time-format makes 24 equal devision of the day and is a
              Mechnical Time-format that works the same every day. That's why
              sunrise varies everyday in the Current Time System.
            </p>
            <p>
              Vedic Time format is a Digital Time-format as it starts from
              sunrise (in Vedic time system, date changes from sunrise). At
              00:00 hrs it, is always sunrise. This is the advancement in Vedic
              Time System.
            </p>
            <p>
              As our current time format has divided world in 24 time zones,
              many countries do not get proper daylight, thus daylight savings
              time. In Alternate time-format(Vedic Time System), there can again
              be 30 time zones based on sunrise. Even every country can have
              their specific time-zone in future and the bigger countries which
              have big differences between longitudes at their ends, can use
              multiple Vedic time-zones based on variation of sunrise across the
              country.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about_cont_wrap vadic_devices_wrap">
            <h2>History and Evolution of Time Keeping Devices</h2>
            <div class="clock_images_card">
              <div class="row">
                <div class="col-md-4">
                  <div class="vadic_clock">
                    <img src="assets/time1.png" alt="device 1" />
                    <p class="device-info" (click)="gotoGoogle('Candle Clock')">
                      Candle Clock (5th Century to 12th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time2.png" alt="device 2" />
                    <p
                      class="device-info"
                      (click)="gotoGoogle('Incense Clock')"
                    >
                      Incense Clock (9th century to 13th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time3.png" alt="device 3" />
                    <p class="device-info" (click)="gotoGoogle('Sundials')">
                      Sundials (14th Century to 17th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time12.png" alt="device 12" />
                    <p
                      class="device-info"
                      (click)="gotoGoogle('Marine chronometer')"
                    >
                      Marine chronometer (Built in 1735)
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="vadic_clock">
                    <img src="assets/time4.png" alt="device 4" />
                    <p class="device-info" (click)="gotoGoogle('Hourglass')">
                      Hourglass (11th century to 16th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time5.png" alt="device 5" />
                    <p class="device-info" (click)="gotoGoogle('Gear Clock')">
                      Gear Clock (Invented in 11th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time6.png" alt="device 6" />
                    <p class="device-info" (click)="gotoGoogle('Water Clock')">
                      Water Clock (600 BC to 500 BC)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time11.png" alt="device 11" />
                    <p class="device-info" (click)="gotoGoogle('Pocket Watch')">
                      Pocket Watch (16th century))
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="vadic_clock">
                    <img src="assets/time7.png" alt="device 7" />
                    <p
                      class="device-info"
                      (click)="gotoGoogle('Astronomical Clock')"
                    >
                      Astronomical Clock (1410 A.D.)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time8.png" alt="device 8" />
                    <p
                      class="device-info"
                      (click)="gotoGoogle('Early Mechanical Clock')"
                    >
                      Early Mechanical Clock (14th Century to 17th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time9.png" alt="device 9" />
                    <p class="device-info" (click)="gotoGoogle('Wrist Watch')">
                      Wrist Watch (First built 16th Century)
                    </p>
                  </div>
                  <div class="vadic_clock">
                    <img src="assets/time10.png" alt="device 10" />
                    <p
                      class="device-info"
                      (click)="gotoGoogle('Pendulum Clock')"
                    >
                      Pendulum Clock (Built in 1656)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
